body{
    font-family: tahoma;
    font-size: 10pt;
    line-height: 200%;
    background-color: white;
}
a{
    border: solid 1px black;
    background: lightgray;
}

.category1{
    margin-left: 15px;
}
.category2{
    margin-left: 30px;
}
.category3{
    margin-left: 45px;
}
